
body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

  #container {
    margin: 0 auto;
    max-width: 890px;
  }
  p { text-align: center; }
   .toggle, [id^=drop] {
   display: none;
  }
  nav {
    z-index: 999;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-top: 1em;

    .join {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1A0D76;
        border-radius: 2em;
        width: 3.5vw;
    }

  }
  
  #logo {
    display: flex;
    float: left;
    line-height: 60px;
    gap: 0.5em;
    transform: scale(0.9) translateY(-0.7em);
    .bnmlogo {
        align-self: center;
        width: 5.5em;
        height: 6em;
        transform: translateY(-0.2em);
    }
    .ncclogo {
        align-self: center;
        width: 4em;
    }
    .text {
        //border: 1px solid black;
        height: 5em;
        transform: translateX(1em);
        .wordmark {
            font-weight: 900;
            font-size: 1.8rem;
            transform: translateY(-1em);
        }
        .caption {
            font-weight: bold;
            font-size: 1.3rem;
            transform: translateY(-4em);
        }
    }
  }
  
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  
  nav ul {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 2em;
    list-style: none;
    position: relative;
  }
  
  nav ul li {
    margin: 0;
    display: inline-block;
  }
  
  nav a {
    
    display: block;
    padding: 0 2vw;
    color: white;
    font-size: 1.2rem;
    line-height: 60px;
    text-decoration: none;
  }
  
  .join:hover {
    background-color: black;
    color: white;
  }

  nav ul li ul li {
    background-color: #518BBB;
  } 

  nav ul li ul li:hover { background-color: #1A0D76; }
  
  nav a:hover { background-color: #1A0D76; }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
  }
  
  nav ul li:hover > ul { display: inherit; }

  nav ul li:hover > nav ul {
    background-color: #1A0D76;
  }
  
  nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
  }
  
  li > a:after { content: ' ▼'; }
  
  li > a:only-child:after { content: ''; }

.homepage {
position: absolute;
top: 0;
margin: 0;
padding: 0;
z-index: -1;
width: 100%;
height: 100vh;

.hero {
    position: absolute;
    width: 65vw;
    right: 0em;
    top: -10vw;
    z-index: 2;
}

.orange-background {
    position: relative;
    background-color: #FF5C00;
    width: 100%;
    height: 100vh;
    width: 55%;
    left: 45%;
    .hero-background {
        position: relative;
        width: 250%;
        mix-blend-mode: soft-light;
    }
}

.hero-text {
    position: absolute;
    top: 25%;
    left: 3%;
    line-height: 1.5em;
    z-index: 5;

    h1 {
        font-weight: 900;
        font-size: 3.3vw;
        color: #1A0D76;
    }
    h3 {
        font-weight: bold;
        font-size: 1.9vw;
    }
    .join-cta {
        background-color: #1A0D76;
        width: 8em;
        height: 3em;
        border-radius: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.7vw;
        color: white;
        text-decoration: none;
    }
    }
}

.aboutpage {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100vh;
    top: 35vw;
    .ribbon {
        z-index: 4;
        position: absolute;
        width: 100vw;
        top: -10vw;
        height: 100%;
        .red-vector {
            position: absolute;
            top: 10em;
            width: 100%;
            background-color: #FF001E;
            height: 70vh;
            clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
        }
    
        .navyblue-vector {
            position: absolute;
            top: 12em;
            width: 100%;
            background-color: #1A0D76;
            height: 70vh;
            clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
        }
    
        .skyblue-vector {
            position: absolute;
            top: 14em;
            width: 100%;
            background-color: #518BBB;
            height: 70vh;
            clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
        }
    }
    .about-main-content {
        z-index: 5;
        background-color: #518BBB;
        position: relative;
        top: 15em;
        //border: 1px solid black;
        height: 150vh;
        .about-ncc {
            position: relative;
            top: 0em;
            h1 {
                font-size: 3vw;
                color: white;
                font-weight: 800;
                position: relative;
                left: 20vw;
            }
            h3 {
                position: relative;
                color: #1A0D76;
                font-size: 2.2vw;
                width: 65%;
                left: 21vw;
            }
        }
        .about-bnmit-ncc {
            position: relative;
            top: 3em;
            img {
                width: 100%;
            }
            h1 {
                font-size: 3vw;
                color: white;
                font-weight: 800;
                position: relative;
                left: 15vw;
            }
            h3 {
                position: relative;
                color: #1A0D76;
                font-size: 2.2vw;
                width: 65%;
                left: 16vw;
            }
        }
        
        $animationSpeed: 20s;
        // Animation
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
    }


    // Styling
    .slider {
        height: 112px;
        margin: auto;
        overflow:hidden;
        position: relative;
        width: 100%;
        z-index: 6;
	
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }
	
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
        }
	
        .slide {
            padding: 2em;
            height: 112px;
            width: 200px;
        }
    }
    }
}
  
  
  /* Media Queries
  --------------------------------------------- */
  
@media all and (max-width : 915px) {
  
    #logo {
    display: flex;
    padding: 0;
    width: 100%;
    text-align: left;
    float: none;
    justify-content: left;
    transform: scale(0.8) translateX(-3em);

    }

    nav a {
        font-size: 20px;
    }

    .about {
    color: white;
    background-color: #518BBB;
    }

    nav {
    margin: 0;

    .join {
        display: none;
    }

    }

    .toggle + a,
    .menu { 
        display: none;
    }

    .toggle {
    display: block;
    background-color: #518BBB;
    padding: 0 20px;
    color: white;
    font-size: 22px;
    font-weight:bold;
    line-height: 60px;
    text-decoration: none;
    border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul {
    display: block;
    }

    nav ul {
    float: left;
    width: 100%;
    }

    nav ul li {
    display: block;
    width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a { padding: 0 40px; }

    nav ul ul ul a { padding: 0 80px; }

    nav a:hover,
    nav ul ul ul a { background-color: #000000; }

    nav ul li ul li .toggle,
    nav ul ul a { background-color: #1A0D76; }

    nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
    display: block;
    width: 100%;
    }

    nav ul ul ul li { position: static;

    }

    .homepage {
        top: 20em;
        width: 100%;

        .hero {
            top: -22vw;
            width: 100%;
        }
        .orange-background {
            width: 100%;
            left: 0;
        }
        .hero-text {
            top: -10em;
            h1 {
                font-size: 1.8rem;
            }
            h3 {
                font-size: 1.2rem;
            }
            .join-cta {
                font-size: 1rem;
            }
        }

    }
    .aboutpage {
        top: 85vw;
        .ribbon {
            height: 20vw;
        }
    }

}

@media all and (max-width : 330px) {

    nav ul li {
    display: block;
    width: 94%;
    }
}